<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club deportivo Los Campeones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js" integrity="sha256-IW9RTty6djbi3+dyypxajC14pE6ZrP53DLfY9w40Xn4=" crossorigin="anonymous"></script>
</head>
<body class="container mt-3">
    <div class="alert alert-info display-1 text-center"> 
        Listado de Socios
    </div>
    <div class="d-flex justify-content-between mb-2">
        <a href="/" class="btn btn-danger"> <i class="bi bi-arrow-left"></i> Volver</a>
        <a href="/agregar" class="btn btn-info">Agregar Nuevo Socio <i class="bi bi-person-fill-add"></i></a>
    </div>
    <script>
        function alerta(id){
            Swal.fire({
                title: "Estas Seguro de Eliminar el Socio?",
                text: "Este Cambio no es Reversible!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si!"
                }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                    title: "Socio Eliminado!",
                    icon: "success"
                    });
                    window.location.href="/eliminar/"+ id;
                }
                });
        }
        function editarSocio(id) {
        Swal.fire({
            title: 'Redirigiendo a Editar...',
            icon: 'info',
            timer: 500,
            showConfirmButton: false,
            willClose: () => {
                window.location.href = '/editar/' + id;
            }
        });
        }
    </script>

    {% if Socio %}
    <table class="table table-hover overflow-auto">
        <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Año de Nacimiento</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo Electronico</th>
                <th scope="col">Sexo</th>
                <th scope="col">Estado</th>
                <th scope="col">Observación</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for per in Socio %}
            <tr class="text-center"> 
                <th scope="row">{{per.id}}</th>
                <td>{{per.Socio_Nombre}}</td>
                <td>{{per.Socio_Fecha_in}}</td>
                <td>{{per.Socio_Anio}}</td>
                <td>{{per.Socio_Telefono}}</td>
                <td>{{per.Socio_Email}}</td>
                <td>{{per.Socio_Sexo}}</td>
                <td>{{per.Socio_Estado}}</td>

                {% if per.Socio_Observacion|length > 0 %}
                    <td class="overflow-auto">{{ per.Socio_Observacion }}</td>
                {% else %}
                    <td class="overflow-auto text-danger">Sin Observaciónes</td>
                {% endif %}
                <td class="btn-group">
                    <a class="btn btn-danger btn-sm" onclick="return(alerta('{{per.id}}'))"><i class="bi bi-trash"></i></a>
                    <a class="btn btn-success btn-sm" onclick="return(editarSocio('{{per.id}}'))"><i class="bi bi-pencil"></i></a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
      </table>

    {% else %}
        <div class="alert alert-danger">
            No se Encuentran Socios en el SISTEMA!!
        </div>
    {% endif %}

</body>
</html>