<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club deportivo Los Campeones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="container mt-3">
    <div class="alert alert-success text-center display-1 w-100">
        Club deportivo Los Campeones   
    </div>
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title display-2">Diego Saravia IEI-171</h5>
            </div>
          </div>
    </div>
    <div>
        <a href="socios/" class="btn btn-info mt-3">Socios</a>
    </div>
</body>
</html>